# Ignorar archivos de compilación
*.pyc
_pycache_/

# Ignorar el entorno virtual
venv/
.env/

# Ignorar archivos de configuración del sistema
.DS_Store
*.log

# Ignorar archivos específicos del IDE
.vscode/